html{
    background-color: #35176e;
}
#Titulo{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 60px;
    margin: 50px;
}
#BloqueSevilla{
    padding-bottom: 30px;
    margin: 10%;
    width: 80%;
    height: auto;
    background-size: 100% 100%;
    background-image: url("/Banderas/Sevilla Bandera.png");
    padding-right: 30px;
}
#BloqueCordoba{
    margin: 10%;
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url("/Banderas/Bandera Cordoba.png");
}
#BloqueMalaga{
    margin: 10%;
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url("/Banderas/Bandera Malaga.png");
}
#BloqueCadiz{
    margin: 10%;
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url("/Banderas/Bandera Cadiz.jpg")
}
#BloqueJaen{
    margin: 10%;
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url("/Banderas/Bandera Jaen.png")
}
#BloqueHuelva{
    margin: 10%;
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url("/Banderas/Bandera Huelva.png")
}
#BloqueGranada{
    margin: 10%;
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url("/Banderas/Bandera Granada.png")
}
#BloqueAlmeria{
    margin: 10%;
    width: 80%;
    height: 400px;
    background-size: 100% 100%;
    background-image: url("/Banderas/Bandera Almeria.png")
}
.FechaCreacion{
    text-align: right;
    font-size: 14px;
    color: white;
    background-color: #545454;
    margin-left: 90%;
}
.Descripcion{
    text-align: right;
    font-size: 14px;
    color: white;
    background-color: #545454;
    margin-left: 40%; 
}
.RelatoHistorico{
    text-align: right;
    font-size: 14px;
    color: white;
    background-color: #545454;
    margin-left: 40%;
}
.NumVictimas{
    text-align: right;
    font-size: 14px;
    color: white;
    background-color: #545454;
    margin-left: 40%;
}
.URL{
    text-align: right;
    font-size: 14px;
    color: white;
    background-color: #545454;
    margin-left: 90%;
}
.NombreFosa{
    text-align: center;
    color: white;
    font-size: 30px;
}
h2 {
    margin: 0%;
}
p{
    padding: 5%;
}
/* -menu-

#menu ul {
 list-style:none;
 margin:0;
 padding:0;
}

 -items del menu- 

#menu ul li {
 background-color:#2e518b;
}

 -enlaces del menu- 

#menu ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}

 -items del menu- 

#menu ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}

 -efecto al pasar el ratón por los items del menu- 

#menu ul li:hover {
 background:#5b78a7;
}

 -menu desplegable -

#menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

 -items del menu desplegable- 

#menu ul ul li {
 float:none;
 width:150px
}

 -enlaces de los items del menu desplegable -

#menu ul ul a {
 line-height:120%;
 padding:10px 15px;
}

 -items del menu desplegable al pasar el ratón- 

#menu ul li:hover > ul {
 display:block;
}
*/

footer{
background: blueviolet;
color: white;  
}   
